<table class="table table-striped table-hover" style="font-family: helvetica;">
<tr>

<th>Time Stamp</th>

<th>Name</th>

<th>Rider Count</th>

<th>Pick Up</th>

<th>Confirmation</th>

<th>Drop Off</th>

<th>Confirmation</th>

<th>Comments</th>

<th colspan="3"></th>
</tr>

<% rides.each do |ride| %>
    <td><%= ride.created_at %> </td>
    <td><%= ride.name %></td>
    <td><%= ride.passenger_count %></td>
    <td><%= ride.pickup.try(:name) %></td>
    <td id="pickup-confirmation-<%= ride.id %>">
        <% if ride.pickup_confirmed? %>
            <%= ride.pickup_confirmed_at %>
        <% else %>
            <%= link_to "Confirm", ride_confirm_pickup_path(ride), remote: true, method: :put %>
        <% end %>
    </td>
    <td><%= ride.dropoff.try(:name) %></td>
    <td id="dropoff-confirmation-<%= ride.id %>">
        <% if ride.dropoff_confirmed? %>
            <%= ride.dropoff_confirmed_at %>
        <% else %>
            <%= link_to "Confirm", ride_confirm_dropoff_path(ride), remote: true, method: :put %>
        <% end %>
    </td>
    <td><%= ride.comments %> </td>

    <td> <%= link_to 'Edit' %> </td>
    <td><%= link_to 'Delete', ride_path(ride), method: :delete, data: { confirm: 'Are you sure you would like to delete this request?' } %> </td>
    </tr>
<% end %>

</table>