
    <head>
        <title>Safe Ride Digital</title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootswatch/3.0.0/amelia/bootstrap.min.css">
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        
<script>
    (function ($) {
          $(document).ready(function() {
          $("#show-example").click(function () {
             if ($('#example').is(":visible")) {
                 $(this).html($(this).html().replace(/Hide/, 'Show'));
             } else {
                 $(this).html($(this).html().replace(/Show/, 'Hide'));
             }
             // Do it afterwards as the operation is async
             $("#example").slideToggle("slow");
          });
      });
  })(jQuery);
</script>
            <body>
        <div class="container" style="padding:4%;">

        <h1>Hello, dispatcher!</h1>

        <h4>Below is a listing of incoming rider requests for the current shift. <br><br>

        <b>Please note that...</b><br>
        <ul>
        <li>This page auto-refreshes every minute.</li>
        <li>When needed, you may edit and/or delete a request.</li>
        <li>Riders may see where they are in queue.</li>
        </ul>

        <br><b>View requests by date:</b> {coming soon}

        <br><br>
        Did someone just call? <a id="show-example" onclick="false">Insert the data manually.</a>

</h4>

<div id="example" style="display: none"> 
<h3>

<!--
<strong>Student's name:</strong> <br>

<strong>Pick up location:</strong> <br>

<strong>Drop off location:</strong> <br>

<strong>Number of Passengers:</strong> <br>
-->

<%= render 'rides/form' %>

</h3>
</div>

<br>
<table class="table table-striped table-hover" style="font-family: helvetica;">
<tr>

<th>Queue</th>

<th>Time Stamp</th>

<th>Name</th>

<th>Passengers</th>

<th>Pick Up</th>

<th>Confirmation</th>

<th>Drop Off</th>

<th>Confirmation</th>

<th>Rider Comments</th>

<th colspan="3"></th>
</tr>

<% @rides.each do |ride| %>
<td># </td>
<td><%= ride.created_at %> </td>
<td><%= ride.name %></td>
<td><%= ride.passenger_count %></td>
<td><%= ride.pickup.try(:name) %></td>
<td> - </td>
<td><%= ride.dropoff.try(:name) %></td>
<td> - </td>
<td> - </td>

<td> <%= link_to 'Edit' %> </td>
<td><%= link_to 'Delete', ride_path(ride), method: :delete, data: { confirm: 'Are you sure you would like to delete this request?' } %> </td>

</tr>

<% end %>

</table>

</div>
</body>
