<%= form_for @ride do |f| %>

<p> <!-- f.label :name, "Name:" %><br> -->
Preferred name:</p>
   <%= f.text_field :name, class: "text_field" %>

<div>
  <br><p>I'm currently located at... </p>
  <!-- <input id="pickups" class="text_field"> -->
  <%= f.select :pickup_location_id, Location.all.order(:name).map{|l| [l.name, l.id]}, class: "selectpicker" %>
</div>

<br>

<div>
  <p>Please drop me off at... </p>
  <%= f.select :dropoff_location_id, Location.all.order(:name).map{|l| [l.name, l.id]}, class: "selectpicker" %>
</div>

<br>
<p>Any other passengers tagging along? </p>
<%= f.select :passenger_count, [["Just me", 1],["+1 Passenger", 2], ["+2 Passengers", 3]], class: "selectpicker" %>
<br><br>
<p>Any comments for the dispatcher?</p>
  <%= f.text_area :comments, class: "text_field" %>

<br><br>
  <p>
    <%= f.submit :Submit! %>
  </p>
<% end %>